body {
    background-image: url('https://images.ctfassets.net/co0pvta7hzrh/1HOajBVHsh7xunfUnjpDNE/c94d271e8f90a6bf6016fc1d275d7a74/e_commerce_registration_form_template_thumb.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.table-container {
    text-align: center;
    width: 90%;
    margin-top: 20px;
    margin-left: 90px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.data-table th {
    background-color: #f2f2f2;
}